.DS_Store
.classpath
.project
.settings/
.idea/
.log
.metadata/
target/
.mvn/
mvnw
mvnw.cmd

# STS
.classpath
.project
.settings/

# FrontEnd
src/main/resources/static/*
front-end/app/js/bin/template/
front-end/app/css/sass/

# Mac
.DS_Store

# Maven
log/
target/
bin
src/main/webapp/dist/
front-end/node_modules/
front-end/app/static/
.mvn/
data/