<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8" />
  <title>Faq Gaming</title>
  <base href="/" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="../../css/app.min.css" />
</head>
<body layout="column" layout-fill=''>
  <div flex='' layout-fill='' ui-view='' layout='column'>Hello,Gamers</div>
  <script type="text/javascript" src="../../js/app.min.js"></script>
</body>

</html>